@model AccountingSystems.Web.Models.CreditMemo.ViewCreditMemoViewModel
@using AccountingSystems.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.CreditMemo; // The menu item will be active for this page.
}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/CreditMemo/ViewCreditMemo.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/CreditMemo/ViewCreditMemo.js" asp-append-version="true"></script>
    </environment>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h2>View Credit Memo</h2>
                    </div>
                    <div class="col-xs-12 col-sm-6 align-right">
                        <div class="switch panel-switch-btn">
                            <a href="/CreditMemo/Print?creditMemoId=@Model.CreditMemoEdit.CreditMemoEdit.Id" style="margin-right:20px;" class="btn btn-lg btn-primary waves-effect waves-float pull-right">
                                <i class="material-icons">print</i>
                                <span>Print Credit Memo</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-6 left">
                        CM Number : <label>@Model.CreditMemoEdit.CreditMemoEdit.CreditMemoCode</label>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6 left">
                        Reference Invoice : <label>@Model.CreditMemoEdit.CreditMemoEdit.ReferenceInvoiceCode</label>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6 left">
                        Site : <label>@Model.CreditMemoEdit.CreditMemoEdit.SiteCode</label>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        Customer Code : @Model.CreditMemoEdit.CreditMemoEdit.CustomerCode
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            Customer Name : @Model.CreditMemoEdit.CreditMemoEdit.CustomerName
                        </div>
                        <div class="col-md-12">
                            Address : @Model.CreditMemoEdit.CreditMemoEdit.CustomerAddress
                        </div>
                        <div class="col-md-12">
                            Salesman : @Model.CreditMemoEdit.CreditMemoEdit.SalesmanName
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <p class="pull-right">Date: @Model.CreditMemoEdit.CreditMemoEdit.CreationTime</p>
                        </div>
                        <div class="col-md-12 pull-right">
                            <p class="pull-right">Payment Terms : @Model.CreditMemoEdit.CreditMemoEdit.CustomerTerms</p>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <table id="creditMemoTable" class="table">
                        <thead>
                            <tr>
                                <th rowspan="1" align="center">Code</th>
                                <th rowspan="1" align="center" valign="middle">Description</th>
                                <th>Case</th>
                                <th>Box</th>
                                <th>PCS</th>
                                <th rowspan="1" align="center">Discount (%)</th>
                                <th rowspan="1" align="center">Price</th>
                                <th rowspan="1" align="center">Gross</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (var details in Model.CreditMemoEdit.CreditMemoEdit.CreditMemoDetails)
                            {
                                <tr id="@i">
                                    <td id="prodCode">@details.ProductCode</td>
                                    <td>@details.ProductItemName</td>
                                    <td>@details.Case</td>
                                    <td>@details.Box</td>
                                    <td>@details.Piece</td>
                                    <td>@details.Discount</td>
                                    <td>@details.TotalProductPrice</td>
                                    <td>@details.Gross</td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div style="border:solid" class="col-md-6">
                            Total Article: <p id="article"></p>
                            Cases = @Model.CreditMemoEdit.CreditMemoEdit.TotalCase, Box = @Model.CreditMemoEdit.CreditMemoEdit.TotalBox, Pieces = @Model.CreditMemoEdit.CreditMemoEdit.TotalPiece
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-6"><strong>Total:</strong></div>
                                <div class="col-md-6"><p class="pull-right">@Model.CreditMemoEdit.CreditMemoEdit.TotalGross</p></div>
                                <div class="col-md-6"><strong>Discount:</strong> </div>
                                <div class="col-md-6"><p class="pull-right">@Model.CreditMemoEdit.CreditMemoEdit.TotalDiscount</p></div>
                                <hr style="display: block; overflow: hidden; border-style: inset; border-width: 1px;">
                                <div class="col-md-6"><strong>Net Amount:</strong> </div>
                                <div class="col-md-6"><p class="pull-right">@Model.CreditMemoEdit.CreditMemoEdit.TotalNet</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <div class="col-md-6"><strong>Vatable Sales:</strong></div>
                                <div class="col-md-6"><p class="pull-right">@Model.CreditMemoEdit.CreditMemoEdit.Vatable</p></div>
                                <div class="col-md-6"><strong>Vat Amount :</strong></div>
                                <div class="col-md-6"><p class="pull-right">@Model.CreditMemoEdit.CreditMemoEdit.TwelvePercentVat</p></div>
                                <hr style="display: block; overflow: hidden; border-style: inset; border-width: 1px;">
                                <div class="col-md-6"><strong>Total Amount due:</strong> </div>
                                <div class="col-md-6"><p class="pull-right">@Model.CreditMemoEdit.CreditMemoEdit.TotalNet</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

