@model AccountingSystems.Web.Models.LocationSites.LocationSiteListViewModel
@using AccountingSystems.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.LocationSite; // The menu item will be active for this page.
}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/LocationSites/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/LocationSites/Index.js" asp-append-version="true"></script>
    </environment>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h2>Location Sites</h2>
                    </div>
                    <div class="col-xs-12 col-sm-6 align-right">
                        <div class="switch panel-switch-btn">
                            <a href="/LocationSite/Print" style="margin-right:20px;" class="btn btn-lg btn-primary waves-effect waves-float pull-right">
                                <i class="material-icons">print</i>
                                <span>Print Location Site</span>
                            </a>
                            <a href="/LocationSite/ExportToExcel" style="margin-right:20px;" class="btn btn-lg btn-primary waves-effect waves-float pull-right">
                                <i class="material-icons">file_download</i>
                                Export as Excel file
                            </a>
                        </div>
                    </div>
                </div>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table id="locationSiteTable" class="table table-bordered table-striped table-hover dataTable">
                    <thead>
                        <tr>
                            <th>Site Code</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var locSite in Model.LocationSites)
                        {
                            <tr>
                                <td>@locSite.SiteCode</td>
                                <td>@locSite.Description</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-locsite" data-locsite-id="@locSite.Id" data-toggle="modal" data-target="#LocationSiteEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-locsite" data-locsite-id="@locSite.Id" data-locsite-name="@locSite.SiteCode"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#LocationSiteCreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="LocationSiteCreateModal" tabindex="-1" role="dialog" aria-labelledby="LocationSiteCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Create New Location Site</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="" role="form" novalidate class="form-validation">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="siteCode" type="text" name="SiteCode" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="siteCode" class="form-label">Site Code</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="Desc" type="text" name="Description" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="Desc" class="form-label">Description</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="LocationSiteEditModal" tabindex="-1" role="dialog" aria-labelledby="LocationSiteEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
