@model AccountingSystems.Web.Models.ExtruckSales.ViewExtruckSaleViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/favicon.ico">
    <title>ExTruck Sales Printing</title>
    <environment names="Development">
        <link href="~/fonts/roboto/roboto.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/fonts/material-icons/materialicons.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/toastr/toastr.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/famfamfam-flags/dist/sprite/famfamfam-flags.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/Waves/dist/waves.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/animate.css/animate.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/materialize.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/themes/all-themes.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/view-resources/Views/Shared/_Layout.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/print.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <script type="text/javascript">
        // This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <style type="text/css">
        .body1 {
            width: 865px;
            height: 11in;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="body1">
        <div id="panelContents" class="container" style="width: 850px; height:100%; margin: 15px auto; background-color: white; ">
            <div class="row clearfix">
                <div class="col-md-6 col-xs-6">
                    <label>@Model.ExtruckSaleEdit.ExtruckSaleCode</label>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-6">
                    Customer Code : @Model.ExtruckSaleEdit.CustomerCode
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-6 col-xs-6">
                    <div class="col-md-12 col-xs-12">
                        <p class="pull-left">Customer Name : @Model.ExtruckSaleEdit.CustomerName</p>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <p class="pull-left">Bill to : @Model.ExtruckSaleEdit.CustomerAddress</p>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <p class="pull-left">Ship to : @Model.ExtruckSaleEdit.CustomerAddress</p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="col-md-12 col-xs-12">
                        <p class="pull-right">Credited: @Model.ExtruckSaleEdit.CreationTime</p>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <p class="pull-right">Payment Terms : @Model.ExtruckSaleEdit.CustomerTerms</p>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <p class="pull-right">Salesman : @Model.ExtruckSaleEdit.SalesmanName</p>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="invoiceTable" class="table">
                    <thead>
                        <tr>
                            <th rowspan="1" align="center">Code</th>
                            <th rowspan="1" align="center" valign="middle">Description</th>
                            <th>Case</th>
                            <th>Box</th>
                            <th>PCS</th>
                            <th rowspan="1" align="center">Discount (%)</th>
                            <th rowspan="1" align="center">Price</th>
                            <th rowspan="1" align="center">Gross</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 0;}
                        @foreach (var details in Model.ExtruckSaleEdit.ExtruckSaleDetails)
                        {
                            <tr id="@i">
                                <td id="prodCode">@details.ProductCode</td>
                                <td>@details.ProductItemName</td>
                                <td>@details.Case</td>
                                <td>@details.Box</td>
                                <td>@details.Piece</td>
                                <td>@details.Discount</td>
                                <td>@details.TotalProductPrice</td>
                                <td>@details.Gross</td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div style="border:solid" class="col-md-6 col-xs-6">
                        <strong>Total Article: </strong>
                        <p id="article"></p>
                        <strong>Cases</strong> = @Model.ExtruckSaleEdit.TotalCase, <strong>Box</strong> = @Model.ExtruckSaleEdit.TotalBox, <br /> <strong>Pieces</strong> = @Model.ExtruckSaleEdit.TotalPiece
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="col-md-3 col-sm-3 col-xs-3">

                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <div class="col-md-6 col-xs-6"><strong>Total:</strong></div>
                        <div class="col-md-6 col-xs-6"><p class="pull-right">@Model.ExtruckSaleEdit.TotalGross</p></div>
                        <div class="col-md-6 col-xs-6"><strong>Discount:</strong> </div>
                        <div class="col-md-6 col-xs-6"><p class="pull-right">@Model.ExtruckSaleEdit.TotalDiscount</p></div>
                        <hr style="display: block; overflow: hidden; border-style: inset; border-width: 1px;">
                        <div class="col-md-6 col-xs-6"><strong>Net Amount:</strong> </div>
                        <div class="col-md-6 col-xs-6"><p class="pull-right">@Model.ExtruckSaleEdit.TotalNet</p></div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="col-md-3 col-sm-3 col-xs-3">

                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <div class="col-md-6 col-xs-6"><strong>Vatable Sales:</strong></div>
                        <div class="col-md-6 col-xs-6"><p class="pull-right">@Model.ExtruckSaleEdit.Vatable</p></div>
                        <div class="col-md-6 col-xs-6"><strong>Vat Amount :</strong></div>
                        <div class="col-md-6 col-xs-6"><p class="pull-right">@Model.ExtruckSaleEdit.TwelvePercentVat</p></div>
                        <hr style="display: block; overflow: hidden; border-style: inset; border-width: 1px;">
                        <div class="col-md-6 col-xs-6"><strong>Total Amount due:</strong> </div>
                        <div class="col-md-6 col-xs-6"><p class="pull-right">@Model.ExtruckSaleEdit.TotalNet</p></div>
                    </div>
                </div>
            </div>
            <div class="row clearfix noprint">
                <button style="margin-right:20px;" class="btn btn-lg btn-primary waves-effect waves-float pull-right" onclick="window.print()">
                    <i class="material-icons">print</i>
                    <span>Print</span>
                </button>
            </div>
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/json2/json2.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/lib/moment/min/moment-with-locales.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
        <script src="~/lib/toastr/toastr.js" asp-append-version="true"></script>
        <script src="~/lib/sweetalert/dist/sweetalert.min.js" asp-append-version="true"></script>
        <script src="~/lib/spin.js/spin.js" asp-append-version="true"></script>
        <script src="~/lib/spin.js/jquery.spin.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-slimscroll/jquery.slimscroll.js" asp-append-version="true"></script>
        <script src="~/lib/Waves/dist/waves.js" asp-append-version="true"></script>
        <script src="~/lib/push.js/push.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/abp.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.toastr.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.blockUI.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.spin.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js" asp-append-version="true"></script>
        <script src="~/js/admin.js" asp-append-version="true"></script>
        <script src="~/js/main.js" asp-append-version="true"></script>
        <script src="~/datatables/jquery.dataTables.js" asp-append-version="true"></script>
        <script src="~/datatables/dataTables.bootstrap.js" asp-append-version="true"></script>
        <script src="~/view-resources/Views/Shared/_Layout.js" asp-append-version="true"></script>

    </environment>
    <script type="text/javascript">
        var lastNumber = 0;
        $("#invoiceTable tr").each(function () {
            lastNumber += 1;
        });
        var lastNum = lastNumber - 1;
        $("#article").text(lastNum);
    </script>
</body>
</html>

