@model AccountingSystems.Web.Models.Customers.CustomerListViewModel
@using AccountingSystems.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.Customer; // The menu item will be active for this page.
}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Customers/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Customers/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h2>@L("Customer")</h2>
                    </div>
                    <div class="col-xs-12 col-sm-6 align-right">
                        <div class="switch panel-switch-btn">
                            <a href="/Customer/Print" style="margin-right:20px;" class="btn btn-lg btn-primary waves-effect waves-float pull-right">
                                <i class="material-icons">print</i>
                                <span>Print Customers</span>
                            </a>
                            <a href="/Customer/ExportToExcel" style="margin-right:20px;" class="btn btn-lg btn-primary waves-effect waves-float pull-right"><i class="material-icons">file_download</i>Export as Excel file</a>
                        </div>
                    </div>
                </div>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table id="customerTable" class="table table-bordered table-striped table-hover dataTable">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Principal Code 1</th>
                            <th>Principal Code 2</th>
                            <th>Registered Name</th>
                            <th>House Number, Street, Barangay</th>
                            <th>Municipality, Province</th>
                            <th>Contact Person</th>
                            <th>Contact Number</th>
                            <th>Terms</th>
                            <th>KOB</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in Model.Customers)
                        {
                            <tr>
                                <td>@customer.Code</td>
                                <td>@customer.PrincipalCode1</td>
                                <td>@customer.PrincipalCode2</td>
                                <td>@customer.Name</td>
                                <td>@customer.HouseNumber, @customer.Street, @customer.Barangay</td>
                                <td>@customer.Municipality, @customer.Province</td>
                                <td>@customer.ContactPerson</td>
                                <td>@customer.Telephone</td>
                                <td>@customer.Terms</td>
                                <td>@customer.KindofBranch</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-customer" data-customer-id="@customer.Id" data-toggle="modal" data-target="#CustomerEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-customer" data-customer-id="@customer.Id" data-customer-name="@customer.Name"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#CustomerCreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CustomerCreateModal" tabindex="-1" role="dialog" aria-labelledby="CustomerCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Create New Customer</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="userCreateForm" role="form" novalidate class="form-validation">
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li id="firstTab" role="presentation" class="active"><a href="#create-customer-details" data-toggle="tab">Customer Details</a></li>
                        <li id="nextTab" role="presentation"><a href="#create-customer-terms" data-toggle="tab">Customer Terms</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="create-customer-details">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="Code" type="text" name="Code" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="Code" class="form-label">Customer Code</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="PrincipalCode1" type="text" name="PrincipalCode1" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="PrincipalCode1" class="form-label">Principal Code 1</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="PrincipalCode2" type="text" name="PrincipalCode2" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="PrincipalCode2" class="form-label">Principal Code 2</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="Name" type="text" name="Name" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="Name" class="form-label">Registered Name</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="HouseNumber" type="text" name="HouseNumber" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="HouseNumber" class="form-label">House Number</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="Street" type="text" name="Street" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="Street" class="form-label">Street</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="Barangay" type="text" name="Barangay" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="Barangay" class="form-label">Barangay</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="Municipality" type="text" name="Municipality" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="Municipality" class="form-label">Municipality</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="Province" type="text" name="Province" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="Province" class="form-label">Province</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="ContactPerson" type="text" name="ContactPerson" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="ContactPerson" class="form-label">Contact Person</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="Telephone" type="text" name="Telephone" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="Telephone" class="form-label">Contact Number</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                                <a id="nextBtn" role="presentation" href="#create-customer-terms" data-toggle="tab" class="btn btn-primary waves-effect">Next</a>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane animated fadeIn" id="create-customer-terms">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="salesmanCode">Salesman Code</label>
                                            <select id="salesmanCode" name="SalesmanCode" class="form-control show-tick" data-live-search="true">
                                                <option value="">Select Salesman</option>
                                                @foreach (var salesman in Model.Salesmen)
                                                {
                                                    <option value="@salesman.Code">@salesman.Code</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="SalesmanName" type="text" name="SalesmanName" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="SalesmanName" class="form-label">Salesman Name</label>
                                            <input id="SalesmanId" class="hidden" name="SalesmansId">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <label for="Terms" class="form-label">Terms</label>
                                            <select id="Terms" name="Terms" required class="form-control show-tick">
                                                <option value="">Select Terms</option>
                                                <option value="COD">Cash on Delivery</option>
                                                <option value="CWR">Cash with Order</option>
                                                <option value="7D">7D</option>
                                                <option value="15D">15D</option>
                                                <option value="30D">30D</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            @*@Html.DropDownListFor(x. => x.Kin)*@
                                            <label for="KindofBranch">Kind of Branch</label>
                                            <select id="KindOfBranch" required name="KindOfBranch" class="form-control show-tick" data-live-search="true">
                                                <option value="">Select Retail Environment</option>
                                                @foreach (var retailenv in Model.RetailEnvironmentLists)
                                                {
                                                    <option value="@retailenv.Description">@retailenv.Description</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="Disc1" type="text" name="Disc1" value="0.00" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="Disc1" class="form-label">Disc1 (%)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="Disc2" type="text" name="Disc2" value="0.00" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="Disc2" class="form-label">Disc2 (%)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="Disc3" type="text" name="Disc3" value="0.00" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="Disc3" class="form-label">Disc3 (%)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="Disc4" type="text" name="Disc4" value="0.00" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="Disc4" class="form-label">Disc4 (%)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="CreditLimit" type="text" name="CreditLimit" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="CreditLimit" class="form-label">Credit Limit</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="checkbox" name="IsActive" value="true" id="CreateCustomerIsActive" class="filled-in" checked />
                                            <label for="CreateCustomerIsActive">@L("IsActive")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                                <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CustomerEditModal" tabindex="-1" role="dialog" aria-labelledby="CustomerEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>